<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.symi.healthysanity">

    <uses-permission android:name="android.permission.SET_ALARM"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="me.symi.healthysanity.activities.ObjectiveFromCalendarActivity"></activity>
        <activity android:name="me.symi.healthysanity.activities.SetupActivity" />
        <activity android:name="me.symi.healthysanity.activities.ProfileActivity" />
        <activity android:name="me.symi.healthysanity.activities.InfoActivity" />
        <activity android:name="me.symi.healthysanity.activities.AssignObjectiveActivity" />
        <activity
            android:name="me.symi.healthysanity.activities.MasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.symi.healthysanity.activities.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.symi.healthysanity.activities.CategoryListActivity"
            android:parentActivityName="me.symi.healthysanity.MainActivity" />
        <activity android:name="me.symi.healthysanity.activities.DashboardActivity" />
        <activity android:name="me.symi.healthysanity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="me.symi.healthysanity.notification.ReminderBroadcast"/>

    </application>

</manifest>